*{
    background-color:bisque;   
}
.navbar {
    background-color: black;
    text-align: center;
    padding: 20px;
    opacity: 80%;
    border-radius: 4px;
    text-align: center;
}
 
nav{
    background-color:black;
    height: 50px;
}
#Trust {
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 10px;   
}
.SSD {
    margin-left: 50px;
    padding: 15px;
background-color: black;
}

.main {
    width: 2005px;
}
.container{ 
    text-align: center;
    
}

a {
    text-decoration: none;
background-color: black;
color: aliceblue;
}

button { 
background-color: black;    

}